@use "/src/assets/styles/mixins" as mixin;

.header {
  position: relative;
  padding: 10px 20px;
  gap: 10px;
  height: 58px;
  background-color: var(--gray-1);
  box-shadow: var(--box-shadow-nav);
  color: var(--text-color);
  border-radius: 1em;
  font-size: 1em;
  img {
    width: 50px;
  }
}

.headerList {
  @include mixin.sm-lt {
    display: none;
  }
}

.headerXS {
  display: none;
  cursor: pointer;
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.8;
  }
  @include mixin.sm-lt {
    display: block;
  }
}
